.buy-wrapper table tbody tr td input {
    outline: none;
    border: none;
    box-shadow: none;
    background: none;
}

.redeem-wrapper table tbody tr td input {
    outline: none;
    border: none;
    box-shadow: none;
    background: none;
}

.redeem-section .button-wrapper {
    padding: 10px;
    text-align: right;
    background: #fff;
}

.buy-section .button-wrapper {
    padding: 10px;
    text-align: right;
    background: #fff;
}

tr.noBorder td {
    border: 0;
  }

.mintAndBurn {
    background-color: aqua
}

.toBurn{
    background-color: red
}

.exportButtons {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.exportButtons button{
    color:#000;
    background: #fff;
    border-radius: 5px;
    font-weight:500;
    text-align: center;
}