<div class="body-wrapper">
  <div class="container-fluid">
      <div class="body-inner">
        <div class="row">
          <div class="col-sm-12">
            <div class="right-part">
              <div class="contract-detail-wrapper">
                <div class="table-responsive">
                  <table class="table table-bordered text-center">
                    <thead>
                      <tr>
                        <th>Pod</th>
                        <th>Currency Pod</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Name</td>
                        <td>{{contractDetails.contractName}}</td>
                      </tr>
                      <tr>
                        <td>Symbol</td>
                        <td>{{contractDetails.symbol}}</td>
                      </tr>
                      <tr>
                        <td>Asset tokenized / Rate</td>
                        <td>{{custData.asset}} <span *ngIf="custData.asset">/</span> {{custData.rate}}</td>
                      </tr>
                      <tr>
                        <td>Maturity</td>
                        <td>{{custData.maturity}}</td>
                      </tr>
                      <tr>
                        <td>Custodian</td>
                        <td>{{custData.custodian}}</td>
                      </tr>
                      <tr>
                        <td>Location</td>
                        <td>{{custData.location}}</td>
                      </tr>
                      <tr>
                        <td>Decimals</td>
                        <td>{{contractDetails.decimal}}</td>
                      </tr>
                      <tr>
                        <td>Mint and assigned when assets deposited</td>
                        <td>{{custData.mint}}</td>
                      </tr>
                      <tr>
                        <td>Contract Address</td>
                        <td>{{contractDetails.contractAddress}}</td>
                      </tr>
                      <tr>
                        <td>Contract Owner</td>
                        <td>{{custData.owner}}</td>
                      </tr>
                      <tr>
                        <td>Smart Contract type</td>
                        <td>{{custData.contractType}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="bottom-link-wrapper">
                <a >Fee Schedule</a>
                <a routerLink='/terms'>Terms and Condition</a>
                <a (click)="toMyetherScan()" style="cursor: pointer">MyEtherScan</a>
              </div>

              <div class="clearfix">
                <div class="col-sm-4 fees-wrapper">
                  <div class="table-responsive">
                    <table class="table table-bordered text-center">
                      <thead>
                        <tr>
                          <th colspan="2">Fees</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Transfer</td>
                          <td>{{transferFees}}</td>
                        </tr>
                        <tr>
                          <td>Redeem</td>
                          <td>{{fees}}</td>
                        </tr>
                        <tr>
                          <td>Buy</td>
                          <td>{{buyFees}}</td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="col-sm-4 asset-wrapper">
                  <h4>Asset Balance</h4>
                  <div class="asset-inner">{{assetBalance}}</div>
                </div>
                <div class="col-sm-4 podbal-wrapper">
                  <div class="table-responsive">
                    <table class="table table-bordered text-center">
                      <thead>
                        <tr>
                          <th colspan="2">Pod Balance</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Total</td>
                          <td>{{userBalance}}</td>
                        </tr>
                        <tr>
                          <td>Burned</td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>Redeemed</td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>Net</td>
                          <td></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div class="pop-links clearfix">
                <div class="col-sm-6 external-link-wrapper">
                  <h3>External Transactions</h3>
                  <a (click)="openPopup('approve-pop')">Approve</a>
                  <a  (click)="openPopup('transfer-pop')">Transfer</a>
                  <a >Market Place</a>
                  <a >Link To Exchanges</a>
                </div>
                <div class="col-sm-6 interact-link-wrapper">
                    <h3>Interact With Ellypin</h3>
                    <a  (click)="openPopup('buy-pop')">Buy</a>
                    <a  (click)="openPopup('redeem-pop')">Redeem</a>
                    <a >Pod Faucet</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px',fullScreenBackdrop:true, animationType:'circleSwish' }" [template]="customLoadingTemplate"></ngx-loading>

<div class="modal fade" id="buy-pop" data-backdrop="static" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <form action="" [formGroup]="buyForm">
          <h3>Buy</h3>
          <div class="row">
            <div class="col-sm-6 col-xs-12">
              <div class="form-group">
                <label>Buy</label>
                <div class="input-group">
                  <input class="form-control" type="text" (keyup)="keyBuy($event)" [formControl]="buyToken" name="buypod" >
                  <span class="input-group-addon">Pods</span>
                </div>
                <span *ngIf="buyToken.invalid && buyToken.touched" style="color:red;font-size: 11px">Enter tokens to buy</span>
              </div>
            </div>
            <div class="col-sm-6 col-xs-12">
              <div class="form-group">
                <label>Fee</label>
                <input class="form-control" readonly [formControl]="buyFee" type="text" name="fee" required="">
              </div>
            </div>  
            <div class="col-sm-12 col-xs-12">
              <div class="form-group">
                <label>Amount to Pay</label>
                <input class="form-control" readonly type="text" [(ngModel)]="buyAmount"  [ngModelOptions]="{standalone: true}" name="amnt-pay" required="">
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-sm-6 col-xs-12">
              <h3>Buyer Details</h3>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                  <label class="file-uploader">
                    <input type="file" name="buyer-id">
                    <span>Upload Identity Document</span>
                  </label>
                </div>
              </div>  
            <div class="col-sm-4 col-xs-12">
              <div class="form-group">
                <label>First Name</label>
                <input class="form-control" type="text" [formControl]="buyFirstName" placeholder="Enter First Name" name="buyer-fname" required="">
                <span *ngIf="buyFirstName.invalid && buyFirstName.touched" style="color:red;font-size: 11px">Enter your first name</span>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="form-group">
                <label>Middle Name</label>
                <input class="form-control" type="text" [formControl]="buyMiddleName" name="buyer-mname">
                <span *ngIf="buyMiddleName.invalid && buyMiddleName.touched" style="color:red;font-size: 11px">Enter your middle name</span>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="form-group">
                <label>Last Name</label>
                <input class="form-control" type="text" [formControl]="buyLastName" name="buyer-lname">
                <span *ngIf="buyLastName.invalid && buyLastName.touched" style="color:red;font-size: 11px">Enter your last name</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-xs-12">
              <div class="form-group">
                <label>Address - Number and Street</label>
                <input class="form-control" type="text" [formControl]="buyAddress" name="buy-add" >
                <span *ngIf="buyAddress.invalid && buyAddress.touched" style="color:red;font-size: 11px">Enter a valid address</span>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="form-group">
                <label>City</label>
                <input class="form-control" type="text" [formControl]="buyCity" name="buyer-city" >
                <span *ngIf="buyCity.invalid && buyCity.touched" style="color:red;font-size: 11px">Enter a valid city name</span>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="form-group">
                <label>Province</label>
                <input class="form-control" type="text" [formControl]="buyProvince" name="buyer-province">
                <span *ngIf="buyProvince.invalid && buyProvince.touched" style="color:red;font-size: 11px">Enter a valid province name</span>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="form-group">
                <label>Country</label>
                <input class="form-control" type="text" [formControl]="buyCountry" name="buyer-country">
                <span *ngIf="buyCountry.invalid && buyCountry.touched" style="color:red;font-size: 11px">Enter a valid country name</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 col-xs-12">
              <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="email" [formControl]="buyEmail" name="buyer-email">
                <span *ngIf="buyEmail.invalid && buyEmail.touched" style="color:red;font-size: 11px">Enter a valid email id</span>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="form-group">
                <label>Tel</label>
                <input class="form-control" type="tel" [formControl]="buyTel" name="buyer-tel">
                <span *ngIf="buyTel.invalid && buyTel.touched" style="color:red;font-size: 11px">Enter a valid phone number</span>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="form-group">
                <label>Postcode</label>
                <input class="form-control" type="text" [formControl]="buyPostCode" name="buyer-postcode">
                <span *ngIf="buyPostCode.invalid && buyPostCode.touched" style="color:red;font-size: 11px">Enter a valid postalcode</span>
              </div>
            </div>
          </div>
          <h3>Bank Information</h3>
          <div class="row">
            <div class="col-sm-8 col-xs-12">
              <div class="form-group">
                <label>Paying Bank Name and Address</label>
                <input class="form-control" type="text" [formControl]="buyBank" name="bank-name">
                <span *ngIf="buyBank.invalid && buyBank.touched" style="color:red;font-size: 11px">Enter the bank name </span>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="form-group">
                <label>Sending Party</label>
                <input class="form-control" type="text" [formControl]="buyParty" name="sending-party">
                <span *ngIf="buyParty.invalid && buyParty.touched" style="color:red;font-size: 11px">Enter the buying party name </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-9">
              <p>Pay to ABC Bank, Singapore . SWIFT No xxxxxxxxxxxx Account Noaaaaaaaaaaaa Account Name: Ellypin EAD account</p>
            </div>
            <div class="col-sm-3">
              <div class="form-submit">
                <button type="submit" class="btn btn-danger btn-lg" [disabled]="buyForm.invalid" (click)="buyRequest()" data-dismiss="modal">Submit</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="redeem-pop" data-backdrop="static" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
        <form action="" [formGroup]="redeemForm">
          <h3>Redeem</h3>
          <div class="row">
            <div class="col-sm-6 col-xs-12">
              <div class="form-group">
                <label>Redeem</label>
                <div class="input-group">
                  <input class="form-control" type="text" (keyup)="keyRedeem($event)" [formControl]="redeemToken" name="red-pod">
                  <span class="input-group-addon">Pods</span>
                </div>
                <span *ngIf="redeemToken.invalid && redeemToken.touched" style="color:red;font-size: 11px">Enter tokens to redeem</span>
              </div>
            </div>
            <div class="col-sm-6 col-xs-12">
              <div class="form-group">
                <label>Redemption Fee</label>
                <input class="form-control" type="text" [formControl]="redeemFee" readonly name="red-fee">
              </div>
            </div>  
            <div class="col-sm-12 col-xs-12">
              <div class="form-group">
                <label>Net to you</label>
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
                  <input class="form-control" type="text" name="net-amnt" readonly [(ngModel)]="redeemTotal" [ngModelOptions]="{standalone: true}" >
                </div>
              </div>
            </div>
          </div>
          <h3>Pay To</h3>
          <div class="row"> 
            <div class="col-sm-6 col-xs-12">
              <div class="form-group">
                <label>Receiving Bank Name and Address</label>
                <input class="form-control" type="text" [formControl]="redeemBank" name="receive-bank-name">
                <span *ngIf="redeemBank.invalid && redeemBank.touched" style="color:red;font-size: 11px">Enter valid bank name and address</span>
              </div>
            </div>
            <div class="col-sm-3 col-xs-12">
              <div class="form-group">
                <label>Account Number</label>
                <input class="form-control" type="text" [formControl]="redeemAccountNumber" name="acc-number">
                <span *ngIf="redeemAccountNumber.invalid && redeemAccountNumber.touched" style="color:red;font-size: 11px">Enter valid bank number</span>
              </div>
            </div>
            <div class="col-sm-3 col-xs-12">
              <div class="form-group">
                <label>Swift Code</label>
                <input class="form-control" type="text" [formControl]="redeemSwiftCode" name="swift-code">
                <span *ngIf="redeemSwiftCode.invalid && redeemSwiftCode.touched" style="color:red;font-size: 11px">Enter swift code</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-xs-12">
              <div class="form-group">
                <label>Beneficiary Name and Address</label>
                <input class="form-control" type="text" [formControl]="redeemBeneficiary" name="ben-name-add">
                <span *ngIf="redeemBeneficiary.invalid && redeemBeneficiary.touched" style="color:red;font-size: 11px">Enter swift code</span>
              </div>
            </div>
            <div class="col-sm-4 col-xs-12">
              <div class="form-group">
                <label>Email</label>
                <input class="form-control" type="email" [formControl]="redeemEmail" name="ben-email">
                <span *ngIf="redeemEmail.invalid && redeemEmail.touched" style="color:red;font-size: 11px">Enter a valid email</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-submit">
                <button type="submit" class="btn btn-danger btn-lg" [disabled]="redeemForm.invalid" (click)="redeemRequest()" data-dismiss="modal">Submit</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="transfer-pop" role="dialog" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
        <form action="" [formGroup]="transferForm">
          <h3>Transfer To</h3>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label>To Address</label>
                <input class="form-control" [formControl]="transferAddr" type="text" name="to-add">
                <span *ngIf="transferAddr.invalid && transferAddr.touched" style="color:red;font-size: 11px">Enter tokens to transfer</span>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label>Quantity</label>
                <input class="form-control" type="text" [formControl]="transferToken" name="qty-transfer">
                <span *ngIf="transferToken.invalid && transferToken.touched" style="color:red;font-size: 11px">Enter receiver address</span>
              </div>
            </div>
            </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-submit">
                <button type="submit" class="btn btn-danger btn-lg" data-dismiss="modal" [disabled]="transferForm.invalid" (click)="transferTokens()">Execute</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="approve-pop" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">&times;</button>
        <form action="">
          <h3>Approve</h3>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label>Address Approved</label>
                <input class="form-control" type="text" name="add-approve" required="">
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label>Quantity</label>
                <input class="form-control" type="text" name="qty-approve" required="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-submit">
                <button type="submit" class="btn btn-danger btn-lg" data-dismiss="modal">Execute</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
