<header class="webheader-wrapper">
		<section>
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-5 col-xs-9">
						<div class="logo-wrapper">
							<a href="home.html">
								<img src="assets/images/logo.png" alt="Ellypin">
								<div class="logo-inner">
									<h2>EURO POD</h2>
									<span>BY ELLYPIN</span>
								</div>
							</a>
						</div>
					</div>
					<div class="col-md-8 col-sm-7 col-xs-3">
						<div class="menu-wrapper">
							<nav>
								<ul>
									<li><a href="javascript:void(0);">Faq</a></li>
									<li><a href="javascript:void(0);">About</a></li>
									<li><a href="javascript:void(0);">Built on Ellypin Pod</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</section>
	</header>
	<div class="body-wrapper">
		<section class="homesec">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="banner-quote">
							<p>The <span>Safest, Most transparent, Exchange-Independent</span></p>
							<p>transferable proof of deposit token backed</p>
							<p>1-for-1 by Euros</p>
						</div>
					</div>
				</div>
				<div class="row banner-button-wrapper">
					<div class="col-sm-6 col-xs-12">
						<div class="banner-button">
							<a  class="btn btn-md btn-primary" (click)="toService()">Other Tokens</a>
						</div>
					</div>
					<div class="col-sm-6 col-xs-12">
						<div class="banner-button">
							<a href="service.html" class="btn btn-md btn-primary">Buy, Sell, Redeem, Transfer Euro Pod</a>
						</div>
					</div>
				</div>
			</div>
		</section>	
		<section class="map-wrapper">
			<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d14031.296349729875!2d77.07370365!3d28.4547188!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1545040239697" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
		</section>
